@using Microsoft.AspNetCore.Identity
@using MyAlbum.Models.Category

@inject MyAlbum.Application.Category.IAlbumCategoryReadService categoryService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 雲端相簿平台</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyAlbum.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/element-plus"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">雲端相簿平台</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @{
                    GetAlbumCategoryListReq categoryListReq = new GetAlbumCategoryListReq();
                    var resp = await categoryService.GetAlbumCategoryItemListAsync(categoryListReq);
                    var categories = resp;
                }
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark"
                               href="#"
                               id="albumCategoryDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                相簿分類
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="albumCategoryDropdown">
                                @foreach (var item in categories)
                                {
                                    <li>
                                        <a class="dropdown-item"
                                           asp-area=""
                                           asp-controller="Home"
                                           asp-action="AlbumCategory"
                                           asp-route-albumCategoryId="@item.AlbumCategoryId">
                                            @item.CategoryName
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>

                    </ul>

                    @await Html.PartialAsync("_MemberLoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - MyAlbum.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
