@using System.Security.Claims
@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav ms-auto">
    @if (User.Identity?.IsAuthenticated == true && User.HasClaim("AccountType", "Member"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-area="Member"
               asp-controller="Home"
               asp-action="Index">
                👤 @User.Identity.Name
            </a>
        </li>
        <li class="nav-item">
            <form asp-area="Member" asp-controller="Identity" asp-action="Logout" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-link nav-link">登出</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">註冊</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Member" asp-controller="Identity" asp-action="Login">登入</a>
        </li>
    }
</ul>